<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${entity.title!""}-${(C.fullName)!"biemian"}</title>
<meta name="description" content='${C.description!""}'/>
<meta name="keywords" content='${C.keywords!""}'/>
<link rel="stylesheet" href="/template/biemian/css/style.css" type="text/css" />
</head>
       
<body>
<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<div id="title"><img SRC="/template/biemian/images/logo.png" alt="biemian" /><!--<span>Administry</span> demo--></div>
			<!-- Top navigation -->
			<div id="topnav"> 欢迎来到PapaSky,爸爸的天空
			</div>
			<#include "/head.html" parse=false encoding="UTF-8">
	</header>
	<!-- End of Header -->
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1> 	<a href='/channel?id=${entity.channel.id!"1"}.html'>${(entity.channel.name)!""}</a> --> 正文</h1>
			<!-- Quick search box -->
			<form action="" method="get"><input class="" type="text" id="q" name="q" /></form>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first">
                <h3>${(entity.title)!""}</h3>
                <div class="subtitle">发布时间：${(entity.releaseDate)!""}&nbsp;&nbsp;&nbsp;&nbsp;来源：${(entity.origin)!""}&nbsp;&nbsp;&nbsp;&nbsp;作者：${(entity.author)!""}&nbsp;&nbsp;&nbsp;&nbsp;点击量：${(entity.visitTotal)?c}</div>
                <div class="main">${(entity.content)!""}</div>
				</section>
				<div class="clear">&nbsp;</div>

				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2">
					<#include "tagChange.ftl" encoding="UTF-8">
				</aside>
				<!-- End of Right column/section -->

		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	

  <#include "/foot.html" parse=false encoding="UTF-8">
</body>
</html>
