<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">  
    <appender name="console" class="org.apache.log4j.ConsoleAppender">  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%p %c %d{yyyy-MM-dd HH:mm:ss} - %m%n"/> 
        </layout>  
    </appender>
    
    <appender name="logAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/shuakua.log" />
        <param name="MaxFileSize" value="10240KB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%p %c %d{yyyy-MM-dd HH:mm:ss} - %m%n" />
        </layout>
    </appender>
        
    <appender name="HttpAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/shuakua-http.log" />
        <param name="MaxFileSize" value="10240KB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%p %c %d{yyyy-MM-dd HH:mm:ss} - %m%n" />
        </layout>
    </appender>
	
	 <appender name="commentAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/shuakua-comment.log" />
        <param name="MaxFileSize" value="10240KB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%p %c %d{yyyy-MM-dd HH:mm:ss} - %m%n" />
        </layout>
    </appender>

	<logger name="http">
        <level value="INFO" />
        <appender-ref ref="HttpAppender" />
    </logger>

	<logger name="comment">
        <level value="INFO" />
        <appender-ref ref="commentAppender" />
    </logger>
	
   	<root>     
        <level value="INFO" />  
        <appender-ref ref="console"/> 
        <appender-ref ref="logAppender" />        
    </root> 
        

</log4j:configuration>  
    